<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>✔ To Do List</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" href="data:,">
</head>
<div class="header">

	<h1><%= date %></h1>
	<div class="ul">
		<h2><a href="/">Today</a></h2>
		<% totalList.forEach(function(listitem){ %>
		<h2><a href="/<%= listitem.name %>"><%= listitem.name %></a></h2>
		<% }); %>
		<h2><form action="/new" method="POST">
			<input name="newList" placeholder="Add New" type="text" autocomplete="off" required>
			<button class="btn" type="submit">+</button>
		</form></h2>
		
	</div>

</div>
<body>